//***********************************
//Breakpoints
//***********************************

$mobile-only: new-breakpoint(max-width 400px 4);
$mobile: new-breakpoint(min-width 200px 4);
$tablet: new-breakpoint(min-width 400px 8);
$tablet-only: new-breakpoint(min-width 400px max-width 960px 8);
$medium: new-breakpoint(min-width 770px);
$portables: new-breakpoint(max-width 770px);
$desktop: new-breakpoint(min-width 960px 12);
$desk-only: new-breakpoint(min-width 960px max-width 1280px 12);
$large: new-breakpoint(min-width 1280px 12);