//***********************************
//Footer styles 
//***********************************

footer {
	position: fixed;
	z-index: 140;
	bottom: 0;
	background-color: $gold;
	color: white;
	width: 100%;
	text-align: center;
	padding: 8px;

	p {
		display: inline-block;
		font-weight: 300;
		font-size: 14px;
		color: white;

		@include media($desktop) {
			  font-size: 15px;
		}
	}

	.site-by {
		display: block;
		margin: 0 auto;
		text-align: center;

		@include media($desktop) {
			display: inline;
		}

		p {
			font-size: 13px;
			right: 20px;

			@include media($desktop) {
				position: absolute;
				right: 20px;
			}
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}