//***********************************
//Specific Styles for IE9 and Below
//***********************************

.cards-module {
	.flex-container {
		display: block;
	}

	.cards-standard {
		float: left;
		display: block;
	}
}