@mixin button($color1, $color2) {
	background-color: $color1;
	color: $color2;
	border: 2px solid $color2;

	&:hover {
		background-color: $color2;
		color: $color1;
	}
}

//Normal size button throughout the site
.button {
	@include button(rgba(white, .6), $dark-purple);
	font-size: 17px;
	padding: 4px 20px;
	font-family: $main-head;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 400;
	transition: .5s all ease;

	@include media($portables) {
		text-align: center;
		display: inline-block;
		margin: 0 auto;
	}	

	&:hover {
		background-color: $dark-purple;
		color: white;

		&:before {
			margin-left: 0px;
			color: white;
		}
	}
	
	//homepage button
	&.btn-large {
		padding: 10px 30px;
		font-size: 24px;
		background-color: transparent;
		color: white;
		border: 2px solid white;
		transition: all .5s ease-in-out;
		transform: scale(1);

		&:hover {

			@include media($medium) {
				padding: 12px 40px;
			}

		}	
	}
}

//Button background color black
&.black {
	@include button(black, white);
}

//Button background color transparent/border white
&.white {
	@include button(transparent, white);

	&:hover {
		color: black;
	}	
}

//Full-width button (see cards module)
.expanded {
	width: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $dark_purple;
	color: white;
	border: .075em solid purple;
	margin: 0 auto;
	padding: 10px 20px;


	&:hover {
		padding: 10px 20px;
		background-color: white;
		color: $dark_purple;
	}
}

