//***********************************
//Cards Module styles 
//***********************************


.cards-module {
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;

  .flex-container {
  	display: -webkit-box;
  	display: box;
  	display: -moz-box;
		display: -ms-flexbox;
 		display: -webkit-flex;
 		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
  }

  p {
  	line-height: 24px;
  	padding-bottom: 15px;
  }

  ul {
  	padding-left: 0;
  	margin-left: 1em;
  }

  ul li {
  	color: black;
  	list-style-position: inside;
  	font-family: $main-body-copy;
  	font-size: 15px;
  	line-height: 24px;
  }

	h5 {
		position: relative;
		width: 100%;
		padding: 10px 10px 15px 10px;
		font-family: $main-body-copy;
		text-transform: uppercase;
		text-align: center;
		color: $tertiary;

		&:after {
			content: "";
		  width: 50%;
		  margin: 16px auto 0;
		  height: 1px;
		  display: block;
		  border-bottom: 1px solid $dark-purple;
		}
	}

	.bkg-pattern {
		@include background-pattern(rgba(255,255,255, .9));
	}

	.top-content {
		position: relative;
	}

	.description {
		padding: 10px 15px 35px 15px;
		text-align: left;

		ul {
			margin-top: 0;
		}
	}

	//Standard cards - 3 columns
	.cards-standard {
		position: relative;
		width: 100%;
		border: 1px solid $light-gray;
		margin-bottom: 60px;
		text-align: center;

    @include media($desktop) {
    	width: 31.3%;
    	margin-left: 1%;
			margin-right: 1%;
    }

		.image {
			height: 200px;
			overflow: hidden;
		}

		img {
			min-height: 100%;
			min-width: 100%;
			filter: grayscale(60%);
		}
	}
	
	//Featured Cards Styles
	.cards-featured {
		position: relative;
		width: 100%;
		padding-top: 10%;
		margin-bottom: 60px;
		margin-right: 1%;
		margin-left: 1%;

		@include media($desktop) {
			@include span-columns(12 of 12);
			padding-top: 0;
			margin-top: 60px;
			margin-right: 1%;
		}

		&:hover {
			transition: all .5s ease-in;

			.top-content {
				outline: 4px double black;
				outline-offset: 3px;
				transition: all .5s ease-out;
			}

			h5 {
				opacity: 1;
				transition: opacity .5s ease-out;

				@include media($desktop) {
					opacity: 0;
				}
			}

			.image {
				filter: grayscale(95%);
				transition: all .5s ease-out;
			}

			.description {
				opacity: 1;
				transition: opacity .5s ease-in .25s;
			}
		}

		h4 {
			position: absolute;
			top: 0;
			background-color: rgba(0,0,0,.5);
			color: white;
			padding: 10px;
		}

		h5 {
		  top: 10%;
		  padding: 10px 10px 40px;
		  outline-offset: 4px;
		  outline: 4px double white;
		  background-color: rgba(0,0,0,.55);
		  color: white;
		  opacity: 1;
		  transition: opacity .5s ease-in;

		  @include media($desktop) {
		  	position: absolute;
		  	top: 25%;
		  }

			//arrow
		  &:before {
		  	content: "\f103";
		  	position: absolute;
		  	margin: 0 auto;
		  	bottom: 0;
		  	left: 0;
  			right: 0;
  			font-size: 27px;
		  	font-family: 'FontAwesome';
		  	border-color: white;
		  }
			
			//bottom border
		  &:after {
		  	margin: 10px auto 0;
		  	border-bottom: 1px solid white;
		  }
		}
		
		.top-content {
			position: absolute;
			float: none;
			margin-right: 0;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;

			@include media($desktop) {
				width: 100%;
				position: relative;
			}
		}

		.right-content {
			position: relative;
			width: 80%;
			margin: 0 auto;
			top: 5%;
			bottom: 0;
			right: 0;
			left: 0;
			transition: all .5s ease-in;
			text-align: center;

			@include media($desktop) {
				position: absolute;
				width: 60%;
			}
		}
		.description {
			opacity: 1;
			width: 100%;
			left: 0;
			right: 0;
			transition: opacity .5s ease-in;

			@include media($desktop) {
				opacity: 0;
			}

			p, ul, li {
				color: white;
				transition: all .5s ease-in;

				@include media($desktop) {
					color: black;
				}
			}
		}

		.image {
			min-height: 100%;
			width: 100%;
			overflow: hidden;
			filter: grayscale(95%);

			@include media($desktop) {
				height: 330px;
				filter: grayscale(60%);
			}
		}

		img {
			position: absolute;
			min-height: 100%;

			@include media($desktop) {
				position: relative;
				min-width: 100%;
			}
		}
	}
}

